section:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
section>* {
  float: left;
}

section>*:last-child {
  float: right;
}

section section {
  padding: 0;
  width: 50%;
}

section aside {
  position: static;
  top: auto;
  left: auto;
  height: auto;
  width: 33.33%;
}

section article {
  width: 50%;
}

section aside + article {
  width: 66.66%;
}
