/**
 * This is meant to be
 * a opinionated structure
 * of a web app
 */

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

header, footer {
  position: fixed;
  width: 100%;
  height: 3em;
  left: 0;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 15em;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4em 1em 4em 16em;
}

aside, section, article {
  padding: 1em;
}
