main {
  background-color: #66f;
}

aside {
  background-color: #6ff;
}

footer, header {
  background-color: #f6f;
}

section {
  background-color: #6f6;
}

article {
  background-color: #ff6;
  border-left: 4px solid #880;
}

section aside {
  border-left: 4px solid #088;
}
